@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

form{
    display: inline;
}
li{
    padding: 8px 12px 4px 4px;
    border: 2px solid black;
    border-radius: 6px;
    margin-bottom: 4px;
}
.prioA{
    color: red;
    font-weight: 800;
}
.prioB{
    color: darkblue;
    font-weight: 600;
}
.prioC{
    color: darkgreen;
    font-weight: 400;
}